.statistics {
  margin: 0 20px;
}
.statistics__title {
  font-size: 20px;
  color: #5199ff;
  font-weight: 700;
  line-height: 70px;
}
.statistics__links {
  height: 40px;
  max-width: 500px;
  border: 1px solid #333;
}
.schedule {
  width: 80%;
  height: 500px;
  border: 2px #333 solid;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  background-color: #fff;
  // color: #333;
}
.schedule-title {
  font-size: 20px;
  color: #5199ff;
  font-weight: 700;
  line-height: 70px;
}
