.page-frame {
  display: flex;
  background-color: #e6eaec;
  height: 100vh;
  color: #fff;
}
.navigation {
  width: 20%;
  background-color: #327feb;
  padding: 20px 0;
  .logo {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }
  .logo {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }
  .user {
    min-height: 68px;
    text-align: center;
    background-color: #1b70e9;
    width: 80%;
    margin: 20px auto;
  }
}

.info-area {
  width: 80%;
  padding: 20px 0;
}
