{
  "parser": "@typescript-eslint/parser",
  "root": true,
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb",
    "airbnb-base",
    "airbnb-typescript",
    "prettier"
  ],
  
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
  },
    "ecmaVersion": 2020,
    "project": ["tsconfig.json"]
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "no-debugger": "off",
    "no-console": 0,
    "class-methods-use-this": "off",
    "@typescript-eslint/no-explicit-any": "error",
    "linebreak-style": ["error", "unix"],
    "comma-dangle": "off",
    "@typescript-eslint/comma-dangle": "off",
    "object-curly-newline": ["error", { "multiline": true, "minProperties": 7 }]
  }
}
