.content-plan {
  margin: 0 20px;
}
.content-plan__title {
  font-size: 20px;
  color: #333;
  font-weight: 400;
}
.content-plan__wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
