.settings {
  margin: 0 20px;
}

.settings__title {
  font-size: 20px;
  color: #333;
  font-weight: 400;
  padding: 0 20px;
}
.settings__wrapper {
  color: #333;
  display: flex;
  justify-content: space-around;
  width: 500px;
}
.settings__title {
  font-size: 20px;
  color: #5199ff;
  font-weight: 700;
  line-height: 70px;
}
.settings__item {
  background-color: #fff;
  width: 200px;
  border-radius: 5px;
  position: relative;
  text-align: center;
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 6%), 0 1px 0 0 rgb(0 0 0 / 2%);
  margin-bottom: 30px;
  padding: 10px;
  div {
    margin: 0 auto;
  }
}
