.console-bot {
  margin: 0 20px;
}
.console-bot__title {
  font-size: 20px;
  color: #333;
  font-weight: 400;
  padding: 0 20px;
}
.console-bot__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
