.content-day__day {
  color: #333;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}
.content-day__area {
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  height: 100px;
  line-height: 100px;
  background-color: #d8dee1;
  text-align: center;
  color: #b5c1c7;
  font-size: 18px;
  margin-bottom: 20px;
  max-width: 30%;
}
